#######################################################
# Use this .gitignore file for working on Goji itself #
#######################################################

# Syntax Memento:
# ---------------
# See: https://git-scm.com/docs/gitignore
#
#
# - Reserved characters can be escaped with a backslash: '\'
# - Blank lines don't match anything, it's for readability
# - # Comment
# - '!' negates the pattern
#   - Negate doesn't work on a file that is inside an excluded folder
# - The root directory is always the .gitignore file parent directory
# - If there is a separator at the end of the pattern then the pattern will only match directories,
#   otherwise the pattern can match both files and directories
#   - 'foo' matches any file or directory called 'foo'
#   - 'foo/' matches only a directory
# - If there is a separator at the beginning or middle (or both) of the pattern, then the pattern is
#   relative to the directory level of the particular .gitignore file itself. Otherwise the pattern may
#   also match at any level below the .gitignore level
#   - '/foo' matches a file or directory at the root (because of the leading slash)
#   - 'foo/bar' here 'foo' is also considered at the root (because there is a middle slash)
# - '*' matches anything except a slash
# - '?' matches a single character except a slash
# - '[a-zA-Z]' matches a single character in a range
# - A leading '**' followed by a slash means match in all directories
#   - '**/foo/bar' matches file or directory 'bar' anywhere that is directly under directory 'foo'
# - A trailing '/**' matches everything inside
#   - 'abc/**' matches all files inside directory 'abc', with infinite depth
# - A slash followed by two consecutive asterisks then a slash matches zero or more directories
#   - 'a/**/b' matches 'a/b', 'a/x/b', 'a/x/y/b' and so on

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all log files, cache file and temp files.
/log/*
!/log/.keep
/tmp

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.idea/
/venv/
__pycache__/
node_modules/

/_WIP_/*
!/_WIP_/TODO.txt

/var/*
!/var/db/
!/var/upload/
/vendor/

# Symlinks
/public/_terminal
/public/terminal

!.gitkeep
