@charset "utf-8";

.pluralization-example {
	font-family: var(--font-code);
}

/* <FORMS> */

/* For thin horizontal logos */
/*
.form__logo {
	width: 200px;
	margin-bottom: var(--gutter-medium);
}
*/

/* <NAV> */

.nav__main > a {
	font-weight: bold;
}

/* <FOOTER> */

.footer__about {
	background-color: var(--color-highlight-halo);
}

.footer__about-container > div > :first-child {
	margin-top: 0;
}

.footer__about-container > div > :last-child {
	margin-bottom: 0;
}

@media all and (max-width: 920px) {
	.footer__about .side-by-side .image {
		display: none;
	}
}

/* <VERIFY EMAIL> */

body#verify-email {
	text-align: center;
}

.verify-email__notification-logo {
	width: 125px;
	margin: var(--gutter-default) 0;
}

.verify-email__resend-verification {
	font-size: var(--text-size-medium);
}

/* <CONTACT> */

.contact__help-message {
	padding: 0 var(--gutter-default);
}

.contact__help-message > * {
	margin: 0;
}

.contact__help-message > * > :first-child {
	margin-top: 0;
}

/* Admin */

.admin-contact__message {
	padding: var(--gutter-thin);
}

.admin-contact__message > :first-child {
	margin-top: 0;
}

.admin-contact__message > :last-child {
	margin-bottom: 0;
}

.admin-contact__message:hover {
	background-color: var(--color-text-xxxxxlight);
}

.admin-contact__message:hover .wrapped::after {
	background-image: linear-gradient(to top, var(--color-text-xxxxxlight), rgba(255, 255, 255, 0));
}

.admin-contact__message-date {
	text-align: right;
}

.admin-contact__message-body {
	position: relative;
}

.admin-contact__message-delete {
	text-align: right;
}

.admin-contact__message-delete > a {
	color: var(--color-invalid);
	font-size: var(--text-size-small);
}

/* Up to to 920px */
@media all and (max-width: 920px) {

	/* Mimic section.side-by-side form */
	.contact__help-message {
		padding-left: 0;
		padding-right: 0;
	}
}

/* <ADMIN> */

#admin__disk-usage {
	font-size: var(--text-size-small);
}

/* <UPLOAD> */

#upload__form input[type=file] {
	display: none;
}

#upload__uploads {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

#upload__uploads > * {
	width: 25%;
	padding: 2px;
	cursor: pointer;
}

@media all {
	#upload__uploads > * {
		width: calc(100% / 3);
	}
}

/* <CATEGORIES> */

#blog-categories__interface > div {
	margin-top: var(--gutter-default);
}

#blog-categories__interface input {
	width: 100%;
	margin-bottom: 0;
}

.blog-categories__delete-category {
	margin: 0;
	text-align: right;
}

.blog-categories__delete-category > a {
	color: var(--color-invalid);
	font-size: var(--text-size-small);
}

#blog-categories__add-category {
	margin: var(--gutter-medium) 0 var(--gutter-default) 0;
}

#blog-categories__interface:empty + #blog-categories__add-category {
	margin-top: 0;
}

/* <PRIVACY & TERMS> */

body#privacy-and-terms    { counter-reset: h1; /********************/ }
body#privacy-and-terms h1 { counter-reset: h2; counter-increment: h1; }
body#privacy-and-terms h2 { counter-reset: h3; counter-increment: h2; }
body#privacy-and-terms h3 { counter-reset: h4; counter-increment: h3; }
body#privacy-and-terms h4 { counter-reset: h5; counter-increment: h4; }
body#privacy-and-terms h5 { counter-reset: h6; counter-increment: h5; }
body#privacy-and-terms h6 { /****************/ counter-increment: h6; }

/*body#privacy-and-terms h1::before { content: counter(h1, upper-roman) ". "; }*/
/*body#privacy-and-terms h2::before { content: counter(h2, upper-alpha) ". "; }*/
body#privacy-and-terms h3::before { content: counter(h3, decimal) ". "; }
body#privacy-and-terms h4::before { content: counter(h4, lower-alpha) ". "; }
body#privacy-and-terms h5::before { content: counter(h5, lower-roman) ". "; }
body#privacy-and-terms h6::before { content: "(" counter(h6, lower-alpha) ") "; }

body#privacy-and-terms ol li                               { list-style-type: none; /*upper-roman;*/ }
body#privacy-and-terms ol li ol li                         { list-style-type: decimal; /*upper-alpha;*/ }
body#privacy-and-terms ol li ol li ol li                   { list-style-type: lower-alpha; /*decimal;*/ }
body#privacy-and-terms ol li ol li ol li ol li             { list-style-type: lower-roman; /*lower-alpha;*/ }
body#privacy-and-terms ol li ol li ol li ol li ol li       { list-style-type: lower-alpha; /*lower-roman;*/ }

body#privacy-and-terms .outline {
	padding-left: 0;
}

/* <HOME> */

body#home .header__wrapper {
	height: calc(100vh - var(--gutter-big));
	min-height: var(--header-height);
	max-height: 750px;
	position: relative;
}

.header__wrapper > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 50%;
	z-index: -1;
	background-color: var(--color-grey-xxlight);
}

.header__home-hero {
	width: 100%;
	/*max-width: 1440px;*/
	/*margin: auto;*/
	height: calc(100% - var(--header-height));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: var(--gutter-default);
}

@media all and (max-width: 700px) {
	.header__home-hero {
		height: calc(100% - var(--header-height-alt));
	}
}

.header__home-hero-headline {
	margin: 0 0 var(--gutter-xthin) 0;
	font-size: var(--text-size-xhuge);
}

.header__home-hero-cta {
	margin: 0;
}

.header__home-hero > img {
	max-width: 50px;
	flex-shrink: 0;
}

.header__home-hero-cta > .call-to-action__wrapper {
	/* When there's text before the button. */
	margin-left: var(--gutter-thin);
}

@media all and (max-width: 750px) {

	.header__home-hero {
		justify-content: center;
		align-items: center;
	}

	.header__home-hero > img {
		display: none;
	}

	.header__home-hero-headline {
		font-size: var(--text-size-huge);
		text-align: center;
	}

	.header__home-hero-cta {
		text-align: center;
	}

	.header__home-hero-cta > .call-to-action__wrapper {
		display: block;
		margin-top: var(--gutter-medium);
	}
}

/* <FUNNEL> */

.vsl__step-two-text > .call-to-action__wrapper {
	text-align: center;
}
