@charset "utf-8";

/* <FONTS> */

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

/*
@font-face {
	font-family: 'FONT_FAMILY';
	src: url('PATH_TO_FONT_FILE');
}
*/

/* <VARIABLES> */

:root {

/* Fonts */

	--font-title:	'Open Sans', sans-serif;
	--font-default:	'Lato', sans-serif;

/* Sizes */

	--golden-ratio: 1.618;
	--golder-ratio-percent-smallest: 38.2%;
	--golder-ratio-percent-largest: 61.8%;

	--gutter-default: 20px;
	--gutter-medium: 15px;
	--gutter-thin: 7px;

	--header-height: 53px;
	--footer-height: 92px;

/* Colors */

	--color-body:	white;
	--color-header:	#727272;
	--color-footer:	#292929;

	--color-text-default:	black;
	--color-text-light:		white;

/* Black & White */

/*	filter: grayscale(100%);*/
}

/* <ANIMATIONS> */

/*
@keyframes ANIMATION_NAME {
	0%		{ PROPERTY }
	100%	{ PROPERTY }
}
*/

/* <EXTRAS> */

/*
::-moz-selection {
	background-color: #d91c88;
	color: white;
}

::selection {
	background-color: #d91c88;
	color: white;
}

::placeholder			{ color: #939393; }
:-ms-input-placeholder	{ color: #939393; }
*/

/* <GENERAL> */

*:focus { outline: 0; }

html, body {
	/* Footer at bottom */
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-default);
	padding: 0;
	margin: 0;
	background-color: var(--color-body);
	color: var(--color-text-default);

	/* Footer at bottom */
	display: flex;
	flex-direction: column;
}

body > * {
	/* Footer at bottom */
	flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title);
}

h1 { font-size: 2em;	margin: 0.67em 0; }
h2 { font-size: 1.5em;	margin: 0.75em 0; }
h3 { font-size: 1.17em;	margin: 0.83em 0; }
h4 { font-size: 1em;	margin: 1.12em 0; }
h5 { font-size: 0.83em;	margin: 1.5em  0; }
h6 { font-size: 0.75em;	margin: 1.67em 0; }

a {
	color: var(--color-text-default);
	text-decoration: none;
	cursor: pointer;
}

/* <HEADER> */

header {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: var(--header-height);
	z-index: 3000;
	background-color: var(--color-header);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: var(--gutter-default);
	padding-right: var(--gutter-default);
	box-sizing: border-box;
}

/* <NAV> */

header > nav {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	flex-shrink: 0;
}

/* <MAIN> */

main {
	padding: calc(var(--header-height) + var(--gutter-default)) 0;

	/* Footer at bottom */
	flex-grow: 1;
	flex-basis: auto;
}

main > * {
	padding-left: var(--gutter-default);
	padding-right: var(--gutter-default);
}

main > :first-child {
	margin-top: 0;
}

/* <FOOTER> */

footer {
	margin: 0;
	padding: var(--gutter-default);
	box-sizing: border-box;
	background-color: var(--color-footer);

	/* Footer at bottom */
	margin-top: auto;
}
