@charset "utf-8";

/* <RESPONSIVE> */

@media all and (max-width: 1080px) {

	main {
		padding: calc(3 * var(--gutter-default)) 0;
	}
}

@media all and (max-width: 920px) {

	h1 { font-size: 2em; margin: 1em  0; }
	h2 { font-size: 1.3em; }

	main {
		padding: calc(2 * var(--gutter-default)) 0;
	}
}

@media all and (max-width: 700px) {

	nav {
		position: fixed;
		top: 120vh;
		left: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		z-index: 3000;
		background-color: var(--color-default-transparent);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: top 500ms ease,
		background-color 500ms ease;
	}

	nav.shown {
		top: 0vh;
		background-color: var(--color-default);
	}

	nav > a {
		margin-left: 0;
		margin-bottom: 25px;
		text-transform: uppercase;
		font-size: var(--text-size-big);
		text-decoration: none;
	}

	nav > a:hover {
		transform: translateY(-5px);
		text-decoration: none;
	}

	nav > a::after {
		content: '';
		display: block;
		width: 0px;
		margin: 0px auto;
		height: 2px;
		background-color: var(--color-nav-link);
		border-radius: 1px;
		transition: width 250ms ease-out,
		transform 250ms ease-out;
	}

	nav > a:hover::after {
		width: 100%;
		transform: translateY(5px);
	}

	.nav__burger-menu {
		display: flex;
	}

	.main__section-image-and-text--image > img {
		max-width: 90%;
	}
}

@media all and (max-width: 375px) {

	h1 { font-size: 1.7em; margin: 0.5em  0; }

	main {
		padding: calc(1.7 * var(--gutter-default)) 0;
	}

	.header__logo > img {
		max-width: 90%;
		margin-left: 0;
	}
}

/* <HOVER EFFECTS> */

@media all and (any-hover: none) { /* User can't use :hover properly */

	nav > a:hover {
		opacity: 1;
	}

	nav > a::after {
		content: unset;
		display: unset;
		width: unset;
		margin: unset;
		height: unset;
		background-color: unset;
		box-shadow: unset;
		border-radius: unset;
		transition: unset;
	}

	nav > a:hover::after {
		width: unset;
		transform: unset;
	}

	.nav__burger-menu:hover {
		height: calc(var(--burger-menu-height) * 0.9);
	}

	.nav__burger-menu.cross:hover {
		height: calc(var(--burger-menu-height-unfolded) * 0.9);
	}
}
