@charset "utf-8";

/* <FONTS> */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/*
@font-face {
	font-family: 'FONT_FAMILY';
	src: url('PATH_TO_FONT_FILE');
}
*/

/* <VARIABLES> */

:root {

	/* Fonts */

	--font-title: Roboto, Helvetica, sans-serif;
	--font-default: Roboto, Helvetica, sans-serif;
	--font-code: Menlo, Courier, monospace;

	/* Sizes */

	--golden-ratio: 1.618;
	--golden-ratio-percent-smallest: 38.2%;
	--golden-ratio-percent-largest: 61.8%;

	--gutter-big: 40px;
	--gutter-default: 20px;
	--gutter-medium: 15px;
	--gutter-thin: 7px;
	--gutter-xthin: 4px;

	--border-radius-default: 4px;
	--border-radius-medium: 15px;

	--header-height: 116px;
	--header-height-alt: 55px;

	--burger-menu-bar-height: 2px;
	--burger-menu-width: 33px;
	--burger-menu-height: 15px; /* (h-3bh) should be even, to divide the gaps by 2 */
	/*
		Calculating --burger-menu-height-unfolded is just some Pythagoras
		taking bar height into account. (Rotation origin is x = y = bar height / 2)
		w  = --burger-menu-width      (width)
		bh = --burger-menu-bar-height (bar)
		x  = w - bh                   (width minus the bar)
		hu = √(x²÷2)+bh               (square root of width minus the bar divided by 2 plus bar)
		--------------------
		=> Just replace with the values and type this into google: sqrt(x^2/2)+bh
		--------------------
		Ex: sqrt((33-3)^2/2)+3 ≈ 24.21px

		w: 33, bh: 1 => 23.63
		w: 33, bh: 2 => 23.92
		w: 33, bh: 3 => 24.21
		w: 33, bh: 4 => 24.51 (looks better with h: 19)
	*/
	--burger-menu-height-unfolded: 23.92px;

	--text-size-small: 12px;
	--text-size-medium: 14px;
	--text-size-default: 16px;
	--text-size-big: 19px;

	--input-height-default: 33px;

	--progress-bar-height: 2px;

	/* Colors */

	--color-default: #24292e;
	--color-default-transparent: rgba(36, 41, 46, 0.2); /* --color-default */
	--color-default-seethrough: rgba(36, 41, 46, 0.33); /* --color-default */
	--color-default-opaque: rgba(36, 41, 46, 0.7); /* --color-default */

	--color-body: white;
	--color-header: transparent;
	--color-header-focus: var(--color-default);
	--color-footer: #f8fafb;

	--color-highlight: #026fe3; /* hsl(210, 99%, 89%); */
	--color-highlight-hover: #0067d3;
	--color-highlight-halo: rgba(193, 219, 246, 0.30); /* hsla(210, 74%, 86%, 0.30) || #c1dbf6 */

	--color-text-dark: #171c21;
	--color-text-default: var(--color-default);
	--color-text-light: #586069;
	--color-text-xlight: #7d8085;
	--color-text-xxlight: #959da5;
	--color-text-xxxlight: #cccccc;
	--color-text-xxxxlight: #dedede;
	--color-text-xxxxxlight: #f1f1f1;

	--color-link: var(--color-highlight);
	--color-link-hover: var(--color-link);
	--color-link-alt: white;
	--color-link-hover-alt: var(--color-link-alt);

	--color-valid-light: #d4eadb;
	--color-valid: #138663;
	--color-warning-light: lightgoldenrodyellow;
	--color-danger-light: #fcdce8;
	--color-danger: #cd3d64;
	--color-danger-dark: #6d1c32;

	--color-disabled: var(--color-text-xxxlight);

	--color-nav-link: var(--color-default);
	--color-nav-link-hover: var(--color-link-hover);
	--color-nav-link-alt: var(--color-link-alt);
	--color-nav-link-hover-alt: var(--color-link-hover-alt);

	--color-burger-menu: var(--color-nav-link);
	--color-burger-menu-alt: var(--color-nav-link-alt);

	/* Shadows */

	--shadow-thin: 0 0 0 1px rgba(49, 49 , 93, 0.03);
	--shadow-default: 0 2px 5px 0 rgba(49, 49, 93, 0.1),
					  0 1px 2px 0 rgba(0, 0, 0, 0.08);
	--shadow-medium: 0 4px 7px 0 rgba(49, 49, 93, 0.1),
					 0 3px 4px 0 rgba(0, 0, 0, 0.07);
	--shadow-large: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
					0 3px 6px 0 rgba(0, 0, 0, 0.07);
	--shadow-inset-default: 0 2px 5px 0 rgba(49, 49, 93, 0.1) inset,
							0 1px 2px 0 rgba(0, 0, 0, 0.08) inset;

	/* Speed */

	--transition-duration-default: 200ms;
	--transition-duration-medium: 250ms;
	--transition-duration-slow: 300ms;

	/* Transitions */

	--transition-default: var(--transition-duration-default) ease;
	--transition-medium: var(--transition-duration-medium) ease;
	--transition-slow: var(--transition-duration-slow) ease;

	/* Black & White */

	/* filter: grayscale(100%); */
}

/* <ANIMATIONS> */

@keyframes loading {
	0%   { transform: rotate(0deg);   }
	100% { transform: rotate(360deg); }
}

@keyframes loading-dots {
	0%   { transform: translateY(0px);  }
	30%  { transform: translateY(-6px); }
	60%  { transform: translateY(0px);  }
	100% { transform: translateY(0px);  }
}

@keyframes shake {
	0%   { transform-origin: 50% 75%; transform: rotate(0deg);   }
	10%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	20%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	30%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	40%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	50%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	60%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	70%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	80%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	90%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	100% { transform-origin: 50% 75%; transform: rotate(-10deg); }
}
