@charset "utf-8";

/* <VARIABLES> */

:root {

	/* Fonts */

	--header-height: 45px;
	--header-height-alt: 45px;

	/* Colors */

	--color-header: var(--color-header-focus);

	--color-nav-link: var(--color-link-alt);
	--color-nav-link-hover: var(--color-link-hover-alt);
}
