# --- ALLOW ACCESS TO PUBLIC FOLDER ---

Order Deny,Allow
Allow from all

# --- URL REWRITING ---

Options +FollowSymlinks
RewriteEngine on

# REWRITE : HTTPS AND WWW -----------------------------------------------------

# HTTP to HTTPS
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off [OR]
RewriteCond %{SERVER_PORT} 80
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

# Redirect two level domains like domain.com to www.domain.com
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{HTTP_HOST} ^([^.]+)\.([^.]+)$
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

# REWRITE : STATIC ------------------------------------------------------------

# Match merged files (css/lib.min.css/css/main.css|css/responsive.css)
# Or single files that are not minified (!.min.css)
#RewriteRule ((?:.+)\|(?:.+)\.css)$	static.php?type=css&file=$1 [QSA,L]
#RewriteCond %{REQUEST_URI}			!\.min\.css$
#RewriteRule ((?:.+)\.css)$			static.php?type=css&file=$1 [QSA,L]

#RewriteRule ((?:.+)\|(?:.+)\.js)$	static.php?type=js&file=$1 [QSA,L]
#RewriteCond %{REQUEST_URI}			!\.min\.js$
#RewriteRule ((?:.+)\.js)$			static.php?type=js&file=$1 [QSA,L]

# REWRITE : PAGES -------------------------------------------------------------

# Everything that is not a static file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# --- ERRORS ---

# You may have to change these on localhost if docroot != webroot
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php

# --- NOINDEX, NOFOLLOW ---

# For just one file
#<Files "myfile.pdf">
#	Header set X-Robots-Tag "noindex, nofollow"
#</Files>

# For regexp
#<FilesMatch "\.(png|jpe?g|gif)$">
#	Header set X-Robots-Tag "noindex, nofollow"
#</FilesMatch>

# --- DENY ACCESS TO PRIVATE FILES AND FOLDERS ---

RedirectMatch 404 /\.git
#RedirectMatch 404 /tmp/

# --- IGNORE FILES IN INDEX BASED ON NAME ---

#IndexIgnore *.secret

# --- AVOID FOLDER LISTING ---

Options -Indexes
#IndexOptions Charset=UTF-8
