@charset "utf-8";

/* <FONTS> */

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

/*
@font-face {
	font-family: 'FONT_FAMILY';
	src: url('PATH_TO_FONT_FILE');
}
*/

/* <VARIABLES> */

:root {

/* Fonts */

	--font-title:	'Open Sans', sans-serif;
	--font-default:	'Lato', sans-serif;

/* Sizes */

	--navigation-pane-width: 270px;

	--menu-item-height: 28px;

	--border-radius-default: 4px;

	--gutter-default: 20px;
	--gutter-medium: 15px;
	--gutter-thin: 7px;

	--popup-indent: -2px;

	--icon-size-default: 20px;
	--icon-size-small: 17px;

	--input-height-default: 31px;
	--form-option-size: var(--icon-size-default);

/* Colors */

	--color-body:					#323648;
	--color-background-alt:			hsl(204, 40%, 98%);
	--color-highlight:				#4baff1; /* hsl(204, 86%, 62%); */
	--color-highlight-halo:			hsla(204, 64%, 60%, 0.25);
	--color-selection:				hsl(204, 77%, 48%);
	--color-dark-highlight:			#2b2d50;

	--color-text-dark:				var(--color-dark-highlight);
	--color-text-default:			#4e566e;
	--color-text-light:				#697386;
	--color-text-xlight:			#f1f1f1;
	--color-text-outbound:			var(--color-text-xlight);

	--color-disabled-light:			hsl(237, 1%, 87%);
	--color-disabled:				rgb(173, 173, 173); /* #adadad; */
	--color-disabled-dark:			hsl(237, 1%, 63%); /* #a0a0a2; */
	--color-border-light:			#cccccc;
	--color-separator:				#e4e8ed;
	--color-separator-dark:			hsl(213, 20%, 87%);

	--color-valid:					#138663;
	--color-danger:					#cd3d64;
	--color-danger-dark:			#6d1c32;

	--color-placeholder-focus:		#bdc1c9;
	--color-placeholder-no-focus:	#9197a3;

	--color-dialog-overlay:			rgba(0, 0, 17, 0.17);

	--color-table-head-row:			hsl(237, 30%, 94%);

/* Shadows */

	--shadow-thin:					0 0 0 1px rgba(49, 49 , 93, 0.03);
	--shadow-default:				0 2px 5px 0 rgba(49, 49, 93, 0.1),
									0 1px 2px 0 rgba(0, 0, 0, 0.08);
	--shadow-medium:				0 4px 7px 0 rgba(49, 49, 93, 0.1),
									0 3px 4px 0 rgba(0, 0, 0, 0.07);
	--shadow-large:					0 7px 14px 0 rgba(59, 65, 94, 0.1),
									0 3px 6px 0 rgba(0, 0, 0, 0.07);
	--shadow-inset-default:			0 2px 5px 0 rgba(49, 49, 93, 0.1) inset,
									0 1px 2px 0 rgba(0, 0, 0, 0.08) inset;

/* Orange Highlight */

/*
	--color-highlight: hsl(24, 81%, 50%);
	--color-highlight-halo: hsla(24, 64%, 60%, 0.25);

	--color-selection: hsl(24, 77%, 48%);
*/

/* Black & White */

/*	filter: grayscale(100%);*/
}

/* <ANIMATIONS> */

@keyframes loading {
	0%   { transform: rotate(0deg);   }
	100% { transform: rotate(360deg); }
}

@keyframes loading-dots {
	0%   { transform: translateY(0px);  }
	30%  { transform: translateY(-6px); }
	60%  { transform: translateY(0px);  }
	100% { transform: translateY(0px);  }
}

@keyframes shake {
	0%   { transform-origin: 50% 75%; transform: rotate(0deg);   }
	10%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	20%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	30%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	40%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	50%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	60%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	70%  { transform-origin: 50% 75%; transform: rotate(-10deg); }
	80%  { transform-origin: 50% 75%; transform: rotate(10deg);  }
	90%  { transform-origin: 50% 75%; transform: rotate(0deg);   }
	100% { transform-origin: 50% 75%; transform: rotate(-10deg); }
}

/* <EXTRAS> */

::-moz-selection {
	background-color: var(--color-selection);
	color: white;
}

::selection {
	background-color: var(--color-selection);
	color: white;
}

/* <GENERAL> */

*:focus { outline: 0; }

html {
	position: relative;
	min-height: 100%;
	font-size: 14px;
}

body {
	font-family: var(--font-default);
	padding: 0;
	margin: 0px 0px var(--gutter-default) 0px; /* 53px for nav, 20px so it doesn't stick to bottom */
	background-color: var(--color-body);
	color: var(--color-text-default);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title);
	color: var(--color-text-dark);
	font-weight: bold;
}

a {
	text-decoration: none;
	color: var(--color-highlight);
	cursor: pointer;
}

a:hover {
	color: var(--color-text-dark);
}

a.delete {
	color: var(--color-danger);
}

a.delete:hover {
	color: var(--color-danger-dark);
}

a.delete::before {
	content: '';
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	position: relative;
	top: 0.5px;
	margin-right: 0.2em;
	background-image: url('img/trashcan.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* <FORM INPUTS> */

/* Placeholder */

::placeholder			{ color: var(--color-disabled); }
:-ms-input-placeholder	{ color: var(--color-disabled); }

/* Inputs - Regular */

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 166px;
	height: var(--input-height-default);
	margin: 0;
	padding: 4px 8px 4px 8px;
	box-sizing: border-box;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-default);
	font-family: inherit;
	font-size: 1rem;
	color: var(--color-text-default);
	font-weight: normal;
	background-color: white;
}

/* Inputs - Large */

input[type=text].large,
input[type=password].large,
input[type=email].large,
input[type=url].large,
input[type=number].large,
.select-wrapper {
	width: 250px;
}

textarea {
	width: 300px;
	height: 67px;
	min-height: 67px;
	resize: vertical;
}

/* Selects */

.select-wrapper {
	display: block;
	box-sizing: border-box;
	position: relative;
}

.select-wrapper::after {
	content: '';
	position: absolute;
	top: calc(50% - (0.8em / 2));
	right: var(--gutter-thin);
	width: 0.8em;
	height: 0.8em;
	background-image: url('img/arrow-down--dark.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	pointer-events: none;
}

select {
	width: 100%;
	cursor: pointer;
}

/* Inputs - Regular - :FOCUS */

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus,
select:focus{
	border-color: var(--color-highlight);
	box-shadow: 0 0 0 1px var(--color-highlight-halo);
}

/* Inputs - Regular - :READ-ONLY || :DISABLED  */

input[type=text]:read-only,
input[type=text]:disabled,
input[type=password]:read-only,
input[type=password]:disabled,
input[type=email]:read-only,
input[type=email]:disabled,
input[type=url]:read-only,
input[type=url]:disabled,
input[type=number]:read-only,
input[type=number]:disabled,
textarea:read-only,
textarea:disabled,
select:disabled {
	color: var(--color-disabled);
}

/* Buttons - Regular */

button,
input[type=submit],
input[type=reset],
.link-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	height: var(--input-height-default);
	margin: 0;
	padding: 4px 8px 4px 8px;
	box-sizing: border-box;
	white-space: nowrap;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-default);
	font-family: inherit;
	font-size: 1rem;
	color: var(--color-text-default);
	background-color: white;
	box-shadow: var(--shadow-thin);
	cursor: pointer;
	transition: color 200ms ease,
				box-shadow 200ms ease;
}

.link-button {
	line-height: calc(var(--input-height-default) - 8px);
	vertical-align: middle;
}

/* Buttons - Regular - :HOVER */

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.link-button:hover {
	color: var(--color-text-dark);
	box-shadow: var(--shadow-default);
	text-decoration: none;
}

/* Buttons - Regular - :ACTIVE */

button:active,
input[type=submit]:active,
input[type=reset]:active,
.link-button:active {
	box-shadow: var(--shadow-thin);
}


/* Buttons - Highlight */

button.highlight,
input[type=submit].highlight,
input[type=reset].highlight,
.link-button.highlight {
	color: var(--color-text-xlight);
	background-color: var(--color-highlight);
	border: none;
}

/* Buttons - Highlight - :HOVER */

button.highlight:hover,
input[type=submit].highlight:hover,
input[type=reset].highlight:hover,
.link-button.highlight:hover {
	color: white;
}

/* Buttons - Delete */

button.delete,
input[type=submit].delete,
input[type=reset].delete,
.link-button.delete {
	color: var(--color-text-xlight);
	background-color: var(--color-danger);
	border: none;
}

/* Buttons - Delete - :HOVER */

button.delete:hover,
input[type=submit].delete:hover,
input[type=reset].delete:hover,
.link-button.delete:hover {
	color: white;
}

/* Buttons - Add */

button.add:hover::after,
input[type=submit].add:hover::after,
input[type=reset].add:hover::after,
.link-button.add:hover::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 8px;
	background-image: url('img/plus--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Buttons - Loader - (Normal State) */

button.loader:hover::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 8px;
	animation: shake 500ms linear 1s infinite;
	background-image: url('img/arrow-up--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Buttons - Loading (When Loading Data) */

button.loader.loading::after {
	transition: width 2s ease;
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 8px;
	animation: loading 1s ease infinite;
	background-image: url('img/loading-dots--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Buttons - Loaded - (Data Finished Loading) */

button.loader.loaded::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 8px;
	animation: none;
	background-image: url('img/checkmark--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Buttons - Loading Error - (Error While Loading Data) */

button.loader.loading-error::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 8px;
	animation: none;
	background-image: url('img/cross--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Buttons - Regular || Highlight || Delete - :DISABLED */

button:disabled,
button.highlight:disabled,
button.delete:disabled,
input[type=submit]:disabled,
input[type=submit].highlight:disabled,
input[type=submit].delete:disabled,
input[type=reset]:disabled,
input[type=reset].highlight:disabled,
input[type=reset].delete:disabled,
.link-button.disabled,
.link-button.highlight.disabled,
.link-button.delete.disabled {
	/*
		!important because it should overwrite any other
		class, like 'delete' or 'highlight'
	*/
	color: white !important;
	background-color: var(--color-disabled-light) !important;
	border-color: var(--color-disabled-light) !important;
	cursor: default !important;
	transition: none !important;
	box-shadow: none !important;
}

/* Buttons - Regular || Highlight || Delete - :DISABLED :HOVER */

button:disabled:hover::after,
button.highlight:disabled:hover::after,
button.delete:disabled:hover::after,
input[type=submit]:disabled:hover::after,
input[type=submit].highlight:disabled:hover::after,
input[type=submit].delete:disabled:hover::after,
input[type=reset]:disabled:hover::after,
input[type=reset].highlight:disabled:hover::after,
input[type=reset].delete:disabled:hover::after,
.link-button.disabled:hover::after,
.link-button.highlight.disabled:hover::after,
.link-button.delete.disabled:hover::after {
	display: none !important;
}

/* File Input */

input[type=file] {
	display: none;
}

/* Checkboxes */

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	--input-checkbox-width: calc(var(--input-height-default) * 1.23);
	--input-checkbox-height: calc((var(--input-height-default) / 3) * 2);
	--input-checkbox-button-diameter: calc(var(--input-checkbox-height) * 0.9);
	--input-checkbox-button-margin: calc((var(--input-checkbox-height) - var(--input-checkbox-button-diameter)) / 2);
	--input-checkbox-not-checked-button-left: var(--input-checkbox-button-margin);
	--input-checkbox-checked-button-left: calc(var(--input-checkbox-width) - var(--input-checkbox-button-diameter) - var(--input-checkbox-button-margin));

	box-sizing: border-box;
	margin-top: calc((var(--input-height-default) - var(--input-checkbox-height)) / 2);
	margin-bottom: calc((var(--input-height-default) - var(--input-checkbox-height)) / 2);
}

input[type=checkbox] + label > span {
	display: inline-block;
	vertical-align: middle;
	margin-right: var(--gutter-thin);
	width: var(--input-checkbox-width);
	height: var(--input-checkbox-height);
	background-color: var(--color-disabled);
	border-radius: calc(var(--input-checkbox-height) / 2);
	cursor: pointer;
	position: relative;
	box-shadow: var(--shadow-inset-default);
	transition: background-color 0.2s ease;
}

input[type=checkbox] + label > span:hover {
	background-color: var(--color-disabled-dark);
}

input[type=checkbox]:checked + label > span {
	background-color: var(--color-highlight);
}

input[type=checkbox] + label > span::after {
	content: '';
	display: block;
	position: absolute;
	width: var(--input-checkbox-button-diameter);
	height: var(--input-checkbox-button-diameter);
	top: var(--input-checkbox-button-margin);
	left: var(--input-checkbox-not-checked-button-left);
	background-color: white;
	border-radius: 50%;
	box-shadow: var(--shadow-default);
	transition: left 0.2s ease;
}

input[type=checkbox]:checked + label > span::after {
	left: var(--input-checkbox-checked-button-left);
}

/* Form Element */

form.disabled *:not([type=submit]) {
	color: var(--color-disabled-light) !important;
	pointer-events: none;
}

/* Form - Success / Error */

form .success-message {
	color: var(--color-valid);
	margin-bottom: var(--gutter-thin) !important;
	padding: 0 !important;
	font-size: 0.9rem;
	display: none;
}

form .success-message.shown {
	display: block;
}

form .error-message {
	color: var(--color-danger);
	margin-bottom: var(--gutter-thin) !important;
	padding: 0 !important;
	font-size: 0.9rem;
	display: none;
}

form .error-message.shown {
	display: block;
}

/* <CUSTOM ELEMENTS> */

/* Profile Picture / Company Logo */

.id-picture {
	width: var(--menu-item-height);
	height: var(--menu-item-height);
	object-fit: cover;
	object-position: center;
	border: 2px solid white;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: var(--shadow-thin);
}

.id-picture.described {
	margin-right: calc(var(--gutter-thin) + 6px);
}

/* More actions */

.actions-menu {
	width: var(--icon-size-default);
	height: var(--icon-size-default);
	position: relative;
	flex-shrink: 0;
}

.actions-menu > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
}

/*.actions-menu > img + div {}*/

/* Loading dots */

.loading-dots {
	width: 6px;
	height: 6px;
	background-color: var(--color-dark-highlight);
	border-radius: 50%;
	position: relative;
	bottom: -12px;
	animation-name: loading-dots;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-delay: 0ms;
	margin: 10px auto 10px auto;
	display: none;
}

.loading-dots.loading {
	display: block;
}

.loading-dots::before,
.loading-dots::after {
	content: '';
	width: inherit;
	height: inherit;
	background-color: inherit;
	border-radius: inherit;
	position: absolute;
	top: 0;
}

.loading-dots::before {
	left: -8px;
	animation-name: loading-dots;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-delay: 100ms;
}

.loading-dots::after {
	right: -8px;
	animation-name: loading-dots;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-delay: 200ms;
}

/* PopUp */

.popup {
	border-radius: var(--border-radius-default);
	box-shadow: var(--shadow-default);
	background-color: white;
	z-index: 1000;
	transition: opacity 100ms ease,
				transform 100ms ease;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.9);
	overflow: hidden;
}

.popup.shown {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.popup p {
	padding: 0;
	margin: 0;
}

.popup p + p {
	padding-top: var(--gutter-thin);
}

.popup .popup__division {
	padding: var(--gutter-thin) var(--gutter-medium) var(--gutter-thin) var(--gutter-medium);
	border-bottom: 1px solid var(--color-separator);
}

.popup .popup__division:last-child {
	border: none;
}

.popup .popup__division.full {
	padding-left: 0;
	padding-right: 0;
}

.popup .popup__title {
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--color-valid);
}

.popup .popup__option-link {
	display: block;
	padding: var(--gutter-thin) var(--gutter-medium) var(--gutter-thin) var(--gutter-medium);
}

.popup .popup__option-link:hover {
	background-color: var(--color-background-alt);
}

/* Optional, gives it a default styling */
.popup-parent {
	position: relative;
}

/* Optional, gives it a default styling */
.popup-trigger {
	cursor: pointer;
}

/* Optional, gives it a default styling */
.popup-menu {
	position: absolute;
	width: 245px;
	top: calc(var(--menu-item-height) + var(--gutter-thin));
	right: var(--popup-indent);
}

/* Dialog */

.dialog-parent {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-dialog-overlay);
	z-index: 2000;
	transition: opacity 100ms ease;
	opacity: 0;
	visibility: hidden;
}

.dialog-parent.shown {
	opacity: 1;
	visibility: visible;
}

.dialog {
	margin: auto !important; /* We need it centered at all costs. */
	width: calc(100% - (2 * var(--gutter-thin))); /* Mobile */
	max-width: 400px;
	transition: opacity 100ms ease,
				transform 100ms ease;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.9);
	overflow: hidden;
}

.dialog-parent.shown .dialog {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.dialog .main__section-form-text,
.dialog .main__section-form-input {
	width: 100%;
	min-width: 0;
}

.dialog label.main__section-form-text {
	margin-bottom: var(--gutter-thin);
}

/* <MARDOWN> */

/* We only provide one type of title (using h1 class) */
.markdown-container .markdown-heading.h1 {
	font-family: var(--font-title);
	color: var(--color-text-dark);
	font-weight: bold;
	font-size: 1.17em;
	margin: 0 0 0.7em 0;
	padding: 0;
}

.markdown-container hr {
	border: none;
	border-top: 1px solid var(--color-separator);
	margin: 1.5em 0 1.7em 0;
}

.markdown-container ul,
.markdown-container ol {
	list-style-position: inside;
	padding-left: var(--gutter-default);
}

/* <MAIN LAYOUT> */

#main-view {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#main-view > #navigation-pane {
	width: var(--navigation-pane-width);
	max-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#main-view > #main-pane {
	width: calc(100% - var(--navigation-pane-width));
}

/* <NAV> */

nav {
	width: 100%;
	min-height: 95vh;
	padding: var(--gutter-default);
	box-sizing: border-box;
}

/* Company */

.nav__company-selector {
	margin-bottom: var(--gutter-default);
	position: relative;
}

.nav__company-item,
.nav__company-item.popup__option-link {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding-top: calc(var(--gutter-thin) / 2);
	padding-bottom: calc(var(--gutter-thin) / 2);
	padding-right: var(--gutter-default);
}

.nav__company-selection-menu {
	position: absolute;
	top: calc(0px - (2 * (var(--gutter-thin) / 2)));
	left: calc(0px - var(--gutter-medium));
	transform: scale(1); /* No size transition here, since company name & logo must match */
	max-width: calc(var(--navigation-pane-width) - var(--gutter-thin));
	max-height: 85vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.nav__company-logo {
	margin-right: calc(var(--gutter-thin) + 6px);
}

nav .popup__option-link .nav__company-logo {
	box-shadow: none;
}

.nav__company-name {
	color: var(--color-text-outbound);
	font-size: 1.1rem;
	font-family: var(--font-title);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

nav .popup__option-link .nav__company-name {
	color: var(--color-text-dark);
}

nav .popup__option-link:not(:first-child) .nav__company-name {
	font-size: 1rem;
	font-weight: normal;
}

/* New company */
nav .popup__option-link:not(:first-child).new-company-trigger:hover span {
	color: var(--color-highlight);
}

.nav__current-company {
	padding-right: var(--gutter-thin);
}

.nav__current-company::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-left: var(--gutter-thin);
	background-image: url('img/arrow-down--light.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	flex-shrink: 0;
}

/* Menu */

.nav__main-menu {
	margin: 0px 0px 0px 5px;
	padding: 0;
}

.nav__main-menu > li.nav__item-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav__main-menu > li.nav__item-container.spacer {
	margin-top: 16px;
}

.nav__main-menu-item {
	width: 100%;
	height: var(--menu-item-height);
	padding: 4px 4px 4px var(--gutter-thin);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

/*.nav__main-menu-item:hover {}*/

.nav__main-menu-item.active {
	background-color: var(--color-text-default);
	border-radius: var(--border-radius-default);
}

.nav__main-menu-item--icon {
	width: var(--icon-size-small);
	height: var(--icon-size-small);
	margin: 0px 12px 0px 0px;
	background-size: auto calc(var(--icon-size-small) * 1);
	background-position: left top;
	flex-shrink: 0;
}

.nav__main-menu-item:hover .nav__main-menu-item--icon { background-position: calc(0px - var(--icon-size-small)); }
.nav__main-menu-item.active .nav__main-menu-item--icon { background-position: calc(0px - (2 * var(--icon-size-small))); }

.nav__main-menu-item--icon.dashboard		{ background-image: url('img/nav/dashboard.svg'); }
.nav__main-menu-item--icon.team				{ background-image: url('img/nav/team.svg'); }
.nav__main-menu-item--icon.company-settings	{ background-image: url('img/nav/company-settings.svg'); }

.nav__main-menu-item--text {
	overflow: hidden;
}

.nav__main-menu-item a {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	color: var(--color-text-outbound);
}

.nav__main-menu-item.active a {
	font-weight: 600;
	color: var(--color-highlight);
}

.nav__sub-menu {
	max-height: 0px;
	/*
		Here we play a little trick with max-height.

		Problem:
			We want the menu to unfold from '0px' to 'auto'
			BUT you can't transition to 'auto', you need a fixed value
			The result is it snaps from '0px' to 'auto' without a transition.

		Solution:
			We let the 'height' at 'auto' allt the time and we use 'max-height' for the transition.

			Initial state :	height: auto (ex: 120px)	max-height: 0px
			Final state :	height: auto (ex: 120px)	max-height: 200px
														(or whatever height > to what 'auto' is)

			So the menu keeps is 'height', and 'max-height' will reveal it.
			'max-height' will be greater than 'height' but we don't care, it's
			just a maximum, not a visible value.

		The only thing to watch for is that 'max-height' is not too much, otherwise
		the transition would be too fast. Or not high enough, hiding a portion of the menu.
	*/
	margin: 0px 0px 0px 0px;
	padding: 0;
	opacity: 0.8;
	overflow: hidden;
	transition: max-height 100ms ease,
				margin-bottom 100ms ease,
				opacity 100ms ease;
}

.nav__main-menu-item.active + .nav__sub-menu,
.nav__main-menu-item.child-active + .nav__sub-menu {
	max-height: calc(24px * 3); /* 3 = max nb of menu items */
	margin-bottom: 8px;
	opacity: 1;
}

.nav__sub-menu-item {
	height: 24px;
	margin: 0;
	padding: 0px 0px 0px 36px; /* 4px padding + 20px + 12px margin */
	box-sizing: border-box;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.nav__sub-menu-item a {
	color: var(--color-text-outbound);
}

.nav__main-menu-item.active a,
.nav__sub-menu-item.active a {
	font-weight: 600;
	color: var(--color-highlight);
}

/* <HEADER> */

header {
	width: 100%;
	height: 68px;
	margin: 0;
	padding: var(--gutter-thin) var(--gutter-default) var(--gutter-thin) var(--gutter-thin);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.header__show-menu {
	width: var(--icon-size-default);
	height: var(--icon-size-default);
	background-color: red;
	flex-shrink: 0;
/*	margin-right: var(--gutter-medium);*/
	margin-right: auto;
	cursor: pointer;
	display: none;
}

.header__show-menu.menu-shown {
	background-color: green;
}

.header__search {
	width: 450px;
	margin-right: auto;
}

/*
	Needs to be precise in the selector,
	otherwise it gets overwritten by default input properties
*/
header .header__search-bar {
	width: 100%;
	border-color: transparent;
	box-shadow: var(--shadow-default);
	background-image: url('img/temp/magnifier.svg');
	background-size: var(--icon-size-small) var(--icon-size-small);
	background-repeat: no-repeat;
	background-position: 8px 6px;
	padding-left: calc(8px + 6px + var(--icon-size-small)); /* default + margin + width */
}

header .header__search-bar::placeholder			{ color: var(--color-text-light); }
header .header__search-bar:-ms-input-placeholder	{ color: var(--color-text-light); }

header .header__search-bar:focus {
/*
	border-color: transparent;
	box-shadow: var(--shadow-thin);
*/
}

header .header__search-bar:focus::placeholder			{ color: var(--color-disabled); }
header .header__search-bar:focus:-ms-input-placeholder	{ color: var(--color-disabled); }

.header__search-suggest.popup-menu {
	width: 100%;
	height: 150px;
	top: calc(var(--input-height-default) + var(--gutter-thin));
	right: 0;
}

.header__notifications {
	width: var(--icon-size-default);
	height: var(--icon-size-default);
	margin-left: var(--gutter-medium);
	margin-right: calc(var(--gutter-medium) - 3px); /* -3px to compensate for notification circle */
	flex-shrink: 0;
}

.header__notifications-icon {
	width: 100%;
	height: 100%;
	background-image: url('img/bell.svg');
	background-size: calc(var(--icon-size-default) * 2) calc(var(--icon-size-default) * 2);
	background-position: left top;
}

.header__notifications-icon:hover {
	background-position: left bottom;
}


.header__notifications-icon.active {
	background-position: right top;
}

.header__notifications-icon.active:hover {
	background-position: right bottom;
}

.header__notifications-icon:hover {
	object-position: center 65%;
}

.header__notifications-menu {
	width: 400px;
}

.header__notifications-menu-items {
	max-height: 85vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.header__notifications-menu .popup__division {
	line-height: 1.5em;
}

.header__notifications-menu .popup__division.placeholder {
	display: none;
}

.header__notifications-menu .popup__division.placeholder.shown {
	display: block;
}

.header__notifications-menu .accept-decline {
	padding: var(--gutter-medium) 0 var(--gutter-thin) 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.header__notifications-menu .accept-decline button:first-child {
	margin-right: var(--gutter-thin);
}

.header__user {
	width: var(--menu-item-height);
	height: var(--menu-item-height);
	flex-shrink: 0;
}

.header__user-profile-picture {
	width: 100%;
	height: 100%;
}

/*.header__user-menu {}*/

.header__user-menu .display-name {
	font-size: 1.1rem;
	font-family: var(--font-title);
	font-weight: bold;
	color: var(--color-text-dark);
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: calc(var(--gutter-thin) - 1px);
}

.header__user-menu .sub-info {
	font-size: 0.8rem;
	padding-bottom: calc(var(--gutter-thin) - 1px);
	font-family: var(--font-title);
	overflow: hidden;
	text-overflow: ellipsis;
}

/* <FOOTER> */

footer {
	width: 100%;
	padding: 0 var(--gutter-default) var(--gutter-default) var(--gutter-thin);
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: var(--color-text-outbound);
}

footer > *:not(:last-child) {
	padding-right: var(--gutter-medium);
}

footer a {
	color: var(--color-text-outbound);
}

footer a:hover {
	color: var(--color-text-outbound);
	text-decoration: underline;
}

/* <MAIN> */

main {
	width: 100%;
	padding: 0 var(--gutter-default) var(--gutter-default) var(--gutter-thin);
	box-sizing: border-box;
}

.main__section {
	box-shadow: var(--shadow-large);
	margin-bottom: var(--gutter-default);
	border-radius: var(--border-radius-default);
}

.main__section.hidden {
	display: none;
}

.main__section p {
	padding: 0;
	margin: 0;
}

.main__section p + p {
	padding-top: var(--gutter-thin);
}

.main__section-division {
	padding: var(--gutter-default);
	border-bottom: 1px solid var(--color-separator);
	background-color: white;
}

.main__section-division:not(textarea):empty {
	padding: var(--gutter-thin) var(--gutter-default) var(--gutter-medium) var(--gutter-default);
}

.main__section-division.alt {
	background-color: var(--color-background-alt);
}

.main__section-division:first-child {
	border-top-left-radius: var(--border-radius-default);
	border-top-right-radius: var(--border-radius-default);
}

.main__section-division:last-child {
	border-bottom-left-radius: var(--border-radius-default);
	border-bottom-right-radius: var(--border-radius-default);
	border: none;
}

.main__section-division-title {
	font-size: 1.1rem;
	font-family: var(--font-title);
	font-weight: bold;
	color: var(--color-text-dark);
	overflow: hidden;
	text-overflow: ellipsis;
}

.main__section-division.title-and-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: var(--gutter-medium);
	padding-bottom: var(--gutter-medium);
}

.main__section-division.title-and-action .title {
	margin-right: var(--gutter-default);
}

.main__section-division.title-and-action .action {
	flex-shrink: 0;
	margin-left: auto;
}

.main__section-division.textarea {
	display: block;
	resize: none;
	width: 100%;
	border-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid var(--color-separator);
	border-radius: 0;
}

/* <MAIN FLEX TABLE> */

.main__section-division.flex-table {
	padding: 0;
}

.main__section-division.flex-table .flex-table__row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch; /* Cells equal height = height of the tallest cell. */
	border-bottom: 1px solid var(--color-separator);
}

.main__section-division.flex-table .flex-table__row.head-row {
	font-weight: bold;
	background-color: var(--color-table-head-row);
}

.main__section-division.flex-table .flex-table__row:not(.head-row):nth-child(odd) { /* If head row starts with light, if no head row starts with dark */
	background-color: var(--color-background-alt);
}

.main__section-division.flex-table .flex-table__row:last-child {
	border-bottom: none;
}

.main__section-division.flex-table .flex-table__cell {
	border-left: 1px solid var(--color-separator);
	flex-basis: 200px;
	padding: var(--gutter-medium);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.main__section-division.flex-table .flex-table__row.head-row .flex-table__cell {
	border-left: 1px solid var(--color-separator-dark);
}

.main__section-division.flex-table .flex-table__cell:first-child {
	border-left: none;
	padding-left: var(--gutter-default);
}

.main__section-division.flex-table .flex-table__cell:last-child {
	padding-right: var(--gutter-default);
}

.main__section-division.flex-table .flex-table__cell.option:last-child { /* Last cell aligned right, only one per row, "last child" to ensure that. */
	margin-left: auto;
	flex-basis: calc(var(--gutter-medium) + var(--icon-size-default) + var(--gutter-default));
	flex-shrink: 0;
	justify-content: center;
}

.main__section-division.flex-table .flex-table__cell.option.glued-to-content:last-child {
	border-left: 0;
	margin-left: 0;
}

/* <MAIN FORMS> */

.main__section-form-fieldset {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: var(--gutter-thin);
}

.main__section-form-fieldset.hidden {
	display: none;
}

.main__section-form-fieldset .main__section-form-text,
.main__section-form-fieldset .main__section-form-label,
.main__section-form-fieldset .main__section-form-input,
.main__section-form-fieldset .main__section-form-option {
	width: 32%;
	box-sizing: border-box;
}

/* Text description, error / success. no inputs */
.main__section-form-fieldset .main__section-form-text {
	margin: 0 0 var(--gutter-medium) 0;
}

.main__section.dialog .main__section-form-fieldset .main__section-form-text,
.main__section.dialog .main__section-form-fieldset .main__section-form-label,
.main__section.dialog .main__section-form-fieldset .main__section-form-input,
.main__section.dialog .main__section-form-fieldset .main__section-form-option {
	width: 100%;
}

/* Input labels on the left */
.main__section-form-fieldset .main__section-form-label {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: var(--gutter-default);
	height: var(--input-height-default);
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 200px;
	text-align: right;
}

/* If empty they are just placeholders. */
.main__section-form-fieldset .main__section-form-label:empty {
	height: 0;
	margin: 0;
	padding: 0;
}

/* Inputs */
.main__section-form-fieldset .main__section-form-input {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.main__section-form-fieldset .main__section-form-input > * {
	width: 100%;
}

.main__section-form-fieldset .main__section-form-text,
.main__section-form-fieldset .main__section-form-input {
	min-width: 340px;
}

/* Pictures / Logos */

.main__section-form-fieldset .main__section-form-image-upload-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--gutter-medium);
}

.main__section-form-fieldset .main__section-form-image-upload-block > label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--gutter-medium);
}

.main__section-form-fieldset .main__section-form-image-upload-block > label img {
	width: 135px;
	height: 135px;
	object-fit: cover;
	object-position: center;
	border: var(--gutter-thin) solid white;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: var(--shadow-default);
	cursor: pointer;
}

.main__section-form-fieldset .main__section-form-image-upload-block > label img:hover {
	box-shadow: var(--shadow-medium);
}

.main__section-form-fieldset .main__section-form-image-upload-block > p {
	text-align: center;
}

/* Something like infos on the right of the inputs */
.main__section-form-fieldset .main__section-form-option {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: var(--gutter-medium);
	height: var(--input-height-default);
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(var(--gutter-medium) + var(--form-option-size));
}

.main__section-division.buttons-only {
	position: relative; /* For progress bar */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: var(--gutter-medium) var(--gutter-default) var(--gutter-medium) var(--gutter-default);
}

.main__section-division.buttons-only > *:not(:last-child) {
	margin-right: var(--gutter-thin);
}

.main__section-division.buttons-only > .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--color-highlight);
	visibility: hidden;
	transition: width 200ms ease;
}

.main__section-division.buttons-only > .progress.shown {
	visibility: visible;
}

/* <PROFILE SETTINGS> */

#profile-settings .profile-settings__show-hide-password {
	width: var(--form-option-size);
	height: var(--form-option-size);
	box-sizing: border-box;
	background-image: url('img/eyes--medium.svg');
	background-size: calc(var(--form-option-size) * 2) calc(var(--form-option-size) * 2);
	background-position: right top;
}

#profile-settings .profile-settings__show-hide-password:hover {
	background-position: right bottom;
}

#profile-settings .profile-settings__show-hide-password.shown {
	background-position: left top;
}

#profile-settings .profile-settings__show-hide-password.shown:hover {
	background-position: left bottom;
}

#profile-settings .profile-settings__password-validation {
	width: var(--form-option-size);
	height: var(--form-option-size);
	box-sizing: border-box;
	background-image: url('img/right-wrong.svg');
	background-size: calc(var(--form-option-size) * 2) var(--form-option-size);
	visibility: hidden;
}

#profile-settings .profile-settings__password-validation.valid {
	visibility: visible;
	background-position: left top;
}

#profile-settings .profile-settings__password-validation.invalid {
	visibility: visible;
	background-position: right top;
}

#profile-settings .profile-settings__current-email {
	line-height: var(--input-height-default);
}
